@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-neutral-800 text-white
}

/* .app {
    @apply relative flex justify-center items-center flex-col md:container mx-auto sm:px-16 px-6;
} */

.overflow-scroll::-webkit-scrollbar {
    display: none; 
}
.overflow-scroll {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

/* slideshow image */
.bg-main-image {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    animation: slide 30s ease-in-out infinite;
}
@keyframes slide {
    0% { background-image: url(../public/images/slider-1.jpg); }
    33.33% { background-image: url(../public/images/slider-1.jpg); }
    33.34% { background-image: url(../public/images/slider-2.jpg); }
    66.66% { background-image: url(../public/images/slider-2.jpg); }
    66.67% { background-image: url(../public/images/slider-3.jpg); }
    100% { background-image: url(../public/images/slider-3.jpg); }
}

/* slider */
.slick-slide > div{
    margin: 0 6px;
}